// vim: ft=arm

.arm
.text
.global armv7neon_prefetch_{{suffix}}
.type armv7neon_prefetch_{{suffix}}, %function

armv7neon_prefetch_{{suffix}}:
loop:
    pld     [r0]
    pld     [r0, #32]
    pld     [r0, #64]
    pld     [r0, #96]
    pld     [r0, #128]
    pld     [r0, #160]
    pld     [r0, #192]
    pld     [r0, #224]
    add     r0, r0, #256
    cmp     r0, r1
    blt     loop

    bx      lr
