[package]
name = "matmul-bench"
version = "0.1.0"
authors = ["Mathieu Poumeyrol <kali@zoy.org>"]
edition = "2018"

[workspace]
members = []

[dependencies]
tract-data = { path = "../../data" }
tract-linalg = { path = ".." }
cblas = { version = "0.3", optional = true }
accelerate-src = { version = "0.3", optional = true }
blis-src = { version = "0.2", features = ["static"], optional = true }
matrixmultiply = "*"
opencl3 = { version =  "0.8.1", optional = true }
lazy_static = "1.4.0"
paste = "1.0.5"

[features]
default = [ ]
blas = ["cblas"]
blis = ["blis-src", "blas"]
accelerate = ["accelerate-src", "blas"]
opencl = [ "opencl3" ]

[build-dependencies]
cc = "1.0"

[dev-dependencies]
criterion = "*"

[[bench]]
name = "matmul"
harness = false
