[package]
name = "tfdeploy"
version = "0.0.8"
license = "MIT/Apache-2.0"
authors = ["Mathieu Poumeyrol <kali@zoy.org>"]
description = "Tiny, no-nonsense, self contained, TensorFlow inference"
repository = "https://github.com/kali/tensorflow-deploy-rust"
keywords = [ "TensorFlow", "NeuralNetworks" ]
categories = [ "science" ]
documentation = "http://www.poumeyrol.fr/tensorflow-deploy-rust/tfdeploy/index.html"

[badges]
travis-ci = { repository = "kali/tensorflow-deploy-rust" }

[dependencies]
accelerate-src = { version = "0.3", optional = true, default-features=false }
openblas-src = { version = "0.5", optional = true, default-features=false, features = [ "static" ] }
blas-src = { version = "0.1.2", default-features = false, optional=true }
derive-new = "0.5"
error-chain =  { version = "0.11", default-features=false }
bit-set="0.5"
image = "0.18"
log = "0.4"
ndarray = { version = "0.11" }
num-traits = "0.2"
protobuf = "1.4"
tensorflow = { version = "0.8", optional = true }

[features]
default = [ ]
blas = ["ndarray/blas", "blas-src"]
openblas = ["blas", "openblas-src", "blas-src/openblas" ]
accelerate = ["blas", "accelerate-src", "blas-src/accelerate" ]

[dev-dependencies]
colored = "1"
bencher = { git = "https://github.com/snipsco/bencher" }
dinghy-test = "0.3"
flate2 = "1.0"
itertools = "0.7"
tar = "0.4"
proptest = "0.6"
reqwest = "0.8.5"

[[bench]]
harness = false
name = "conv"

[[bench]]
harness = false
name = "inceptionv3"
