[workspace]
resolver = "2"
members = [
    "data",
    "linalg",
    "core",
    "pulse",
    "pulse-opl",
    "hir",
    "nnef",
    "nnef/nnef-resources",
    "tensorflow",
    "onnx-opl",
    "onnx",
    "libcli",
    "cli",
    "extra",

    "tflite",

    "api",
    "api/rs",
    "api/ffi",
    "api/proxy",
    "api/proxy/sys",

    "examples/tensorflow-mobilenet-v2",
    "examples/tflite-mobilenet-v3",
    "examples/keras-tract-tf2",
    "examples/nnef-dump-mobilenet-v2",
    "examples/nnef-mobilenet-v2",
    "examples/onnx-mobilenet-v2",
    "examples/pytorch-albert-v2",
    "examples/pytorch-resnet",

    "harness/core-proptest-pulse",
    "harness/lstm-proptest-onnx-vs-tf",
    "harness/nnef-inceptionv3",
    "harness/tf-inceptionv3",
    "harness/tf-mobilenet-v2",
    "harness/tf-moz-deepspeech",
    "harness/tfl-mobilenet-v2-q",

    "test-rt/infra",
    "test-rt/suite-unit",
    "test-rt/suite-onnx",
    "test-rt/test-unit-core",
    "test-rt/test-onnx-core",
    "test-rt/test-onnx-nnef-cycle",
    "test-rt/test-tflite",
]

[workspace.dependencies]
ansi_term = "0.12.1"
anstyle-parse = "=0.2.1"
anstyle = "=1.0.2"
anyhow = "1.0.43"
approx = "0.5"
atty = "0.2.14"
bindgen= "0.66"
bit-set= "0.5.2"
boow = "0.1.3"
box_drawing = "0.1.2"
byteorder = "1.4.3"
bytes = "1.0.1"
cc = "1.0.69"
clap = { version = "~3.1", features = [ "cargo" ] }
colorous = "1.0.5"
criterion = "0.4"
derive-new = "0.5.9"
dinghy-test = "0.6"
downcast-rs = "1.2.0"
dyn-clone = "1.0.4"
env_logger = "0.10"
flatbuffers = "23.1.21"
flate2 = "1.0.20"
fs2 = "0.4.3"
getrandom = "0.2"
half = { version="=2.2.1", features = [ "std", "num-traits" ] }
image = "0.24.1"
itertools = "0.10.1"
lazy_static = "1.4.0"
liquid = "0.26"
liquid-core = "0.26"
log = "0.4.14"
maplit = "1.0.2"
memmap2 = "0.5"
ndarray = "0.15.3"
ndarray-npy = { version = "0.8.0", features = [ "compressed_npz" ] }
nom = "7.0.0"
nu-ansi-term = "0.46"
num-complex = "0.4.0"
num-integer = "0.1.44"
num-traits = "0.2.14"
paste = "1.0.5"
proptest = "1.0.0"
prost = "0.11.0"
prost-types = "0.11.0"
py_literal = "0.4.0"
rand = { version = "0.8.4", features = ["small_rng"] }
rand_distr = "0.4"
readings-probe = "0.1.3"
regex = "1.5.4"
reqwest = { version = "0.11.4", features = [ "blocking", "rustls-tls" ], default-features = false }
rustfft = { version = "6.1", features = [ "neon" ] }
rustix = "=0.38.4"
rustls = "0.20.4"
smallvec = "1.6.1"
scan_fmt = "0.2.6"
serde = { version = "1.0.127", features = [ "derive" ] }
serde_json = "1.0"
string-interner = "0.14"
tar = "0.4.37"
tempfile = "3.8"
tensorflow = "0.17.0"
tflitec = { git = "https://github.com/kali/tflitec-rs.git", rev="b37d65a" }
time = "=0.3.23"
time-macros = "=0.2.10"
tokenizers = "0.13"
unicode-normalization = "0.1.19"
walkdir = "2.3.2"
core_affinity = "0.8.0"

[profile.opt-no-lto]
inherits="release"
lto=false

[profile.release]
# debug = true
lto = true

[profile.bench]
debug = true

[profile.dev.package."*"]
opt-level = 2

[profile.dev.package.darling_macro]
opt-level = 0 # work around never ending build on wondows

[profile.dev.build-override]
debug = false
# strip = "debuginfo" does not work on android and ios
incremental = false
