[package]
name = "tfdeploy"
version = "0.0.8-pre"
license = "MIT/Apache-2.0"
authors = ["Mathieu Poumeyrol <kali@zoy.org>"]
description = "Tiny, no-nonsense, self contained, TensorFlow inference"
repository = "https://github.com/kali/tensorflow-deploy-rust"
keywords = [ "TensorFlow", "NeuralNetworks" ]
build="build.rs"
categories = [ "science" ]
documentation = "http://www.poumeyrol.fr/tensorflow-deploy-rust/tfdeploy/index.html"

[badges]
travis-ci = { repository = "kali/tensorflow-deploy-rust" }

[dependencies]
accelerate-src = { version = "0.3", optional = true, default-features=false }
openblas-src = { version = "0.5", optional = true, default-features=false, features = [ "static" ] }
blas-src = { version = "0.1.2", default-features = false, optional=true }
downcast-rs = "1.0"
error-chain =  { version = "0.11", default-features=false }
bit-set="0.4"
image = "0.18"
log = "0.4"
ndarray = { version = "0.11" }
num-traits = "0.2"
protobuf = "1.4"
tensorflow = { version = "0.7", optional = true }
rand = "*"

[features]
default = [ ]
blas = ["ndarray/blas", "blas-src"]
openblas = ["blas", "openblas-src", "blas-src/openblas" ]
accelerate = ["blas", "accelerate-src", "blas-src/accelerate" ]

[build-dependencies]
protoc-rust   = "1.4"
tempdir = "0.3"

[dev-dependencies]
colored = "1"
bencher = { git = "https://github.com/snipsco/bencher" }
dinghy-test = { git="https://github.com/snipsco/dinghy.git", branch="0.3"}
flate2 = "1.0"
itertools = "0.7"
mio_httpc = { version = "0.4", features = [ "rtls" ] }
tar = "0.4"
proptest = "0.5"

[[bench]]
harness = false
name = "conv"

[[bench]]
harness = false
name = "inceptionv3"

[replace]
"pkg-config:0.3.9" = { git = "https://github.com/snipsco/pkg-config-rs/", branch = "sysroot_dir" }
