
# add whatever else we support.
[graph]
targets = [
    { triple = "x86_64-unknown-linux-gnu" },
    { triple = "x86_64-unknown-linux-musl" },
    { triple = "x86_64-apple-darwin" },
    { triple = "x86_64-pc-windows-msvc" },
    { triple = "aarch64-linux-android" },
    { triple = "aarch64-unknown-linux-gnu" },
    { triple = "aarch64-unknown-linux-musl" },
    { triple = "aarch64-apple-ios" },
    { triple = "aarch64-apple-darwin" },
    { triple = "armv7-unknown-linux-gnueabihf" },
    { triple = "armv7-unknown-linux-musleabi" },
    { triple = "arm-unknown-linux-gnueabihf" },
    { triple = "wasm32-unknown-unknown" },
]

[advisories]
version = 2
git-fetch-with-cli = true
yanked = "deny"
ignore = [
	"RUSTSEC-2021-0145", # in atty, only impacts benches (through criterion) or pytorch example
	"RUSTSEC-2023-0080", # transpose has an unsafe method, but rustfst uses it a safe predictable manner
]

[bans]
multiple-versions = "deny"
wildcards = "allow"
deny = [
    # List crates we don't want in our dependency tree here.
]

# Skip some multiple-versions checks, until they can be fixed.
skip = [
    { name = "itertools", version="<0.12.1" },
    { name = "regex-syntax", version="<8" },
    { name = "syn", version="<2" },
]

[sources]
# trusted git sources.
allow-git = [
]

[licenses]
allow = [
    "Apache-2.0",                     # https://tldrlegal.com/license/apache-license-2.0-(apache-2.0)
    "MIT",                            # https://tldrlegal.com/license/mit-license
    "Unicode-DFS-2016"                # https://spdx.org/licenses/Unicode-DFS-2016.html 
]

clarify = [
]
