# add whatever else we support.
targets = [
    { triple = "x86_64-unknown-linux-gnu" },
    { triple = "x86_64-unknown-linux-musl" },
    { triple = "x86_64-apple-darwin" },
    { triple = "x86_64-pc-windows-msvc" },
    { triple = "aarch64-linux-android" },
    { triple = "aarch64-unknown-linux-gnu" },
    { triple = "aarch64-unknown-linux-musl" },
    { triple = "aarch64-apple-ios" },
    { triple = "aarch64-apple-darwin" },
    { triple = "armv7-unknown-linux-gnueabihf" },
    { triple = "armv7-unknown-linux-musleabi" },
    { triple = "arm-unknown-linux-gnueabihf" },
    { triple = "wasm32-unknown-unknown" },
]

[advisories]
vulnerability = "deny"
unmaintained = "warn"
yanked = "deny"
 ignore = [
     "RUSTSEC-2020-0071", # this could only impact use through our usage of liquid, and we are not using time related liquid helpers. (and only use liquid templates at build-time anyway)
     "RUSTSEC-2020-0159",
     "RUSTSEC-2021-0127" # dependency on abandoned serde_cbor, through criterion, irrelevant out of build.
 ]

[bans]
multiple-versions = "deny"
wildcards = "allow"
deny = [
    # List crates we don't want in our dependency tree here.
]

# Skip some multiple-versions checks, until they can be fixed.
skip = [
    { name = "cast", version="<0.3" },  # because of criterion
    { name = "miniz_oxide", version="<0.4" }, # ndarray-npy pulls in an old version of flate
#    { name = "cfg-if", version="<1.0" }, # cascading from flate too
    { name = "quick-error", version="<2" }, # cascading from flate too
#    { name = "py_literal", version="<0.4" }, # cascading from flate too
#    { name = "num-complex", version="<0.4" }, # cascading from flate too
#    { name = "num-bigint", version="<0.4" }, # cascading from flate too
]

[sources]
# trusted git sources.
allow-git = [
]

[licenses]
allow = [
    "Apache-2.0",                     # https://tldrlegal.com/license/apache-license-2.0-(apache-2.0)
    "ISC",                            # https://tldrlegal.com/license/-isc-license
    "OpenSSL",                        # https://tldrlegal.com/license/openssl-license-(openssl)
    "MIT",                            # https://tldrlegal.com/license/mit-license
    "Zlib",                           # https://tldrlegal.com/license/zlib-libpng-license-(zlib)
]
clarify = [
    # ring has a rather complicated LICENSE file due to reasons spelled out
    # in said LICENSE file, but is basically OpenSSL for older parts, and ISC
    # for newer parts
    { name = "ring", expression = "ISC AND OpenSSL", license-files = [ { path = "LICENSE", hash = 0xbd0eed23 } ] }
]
