# add whatever else we support.
targets = [
    { triple = "x86_64-unknown-linux-gnu" },
    { triple = "x86_64-unknown-linux-musl" },
    { triple = "x86_64-apple-darwin" },
    { triple = "x86_64-pc-windows-msvc" },
    { triple = "aarch64-linux-android" },
    { triple = "aarch64-unknown-linux-gnu" },
    { triple = "aarch64-unknown-linux-musl" },
    { triple = "aarch64-apple-ios" },
    { triple = "aarch64-apple-darwin" },
    { triple = "armv7-unknown-linux-gnueabihf" },
    { triple = "armv7-unknown-linux-musleabi" },
    { triple = "arm-unknown-linux-gnueabihf" },
    { triple = "wasm32-unknown-unknown" },
]

[advisories]
vulnerability = "deny"
unmaintained = "warn"
yanked = "deny"
ignore = [
	"RUSTSEC-2021-0145", # in atty, only impacts benches (through criterion) or pytorch example
]

[bans]
multiple-versions = "deny"
wildcards = "allow"
deny = [
    # List crates we don't want in our dependency tree here.
]

# Skip some multiple-versions checks, until they can be fixed.
skip = [
    { name = "half", version="1.8.2" }, # old versions pulled by serde_cbor and criterionin dev mode
    { name = "hashbrown", version="0.11.2" }, # string interner pulls old version
    { name = "quick-error", version="<2" }, # cascading from flate
    { name = "regex-syntax", version="<8" },
    { name = "syn", version="<2" },
    { name = "bitflags", version="<2" },
]

[sources]
# trusted git sources.
allow-git = [
]

[licenses]
allow = [
    "BSD-3-Clause",                   # https://tldrlegal.com/license/bsd-3-clause-license-(revised)
    "Apache-2.0",                     # https://tldrlegal.com/license/apache-license-2.0-(apache-2.0)
    "MIT",                            # https://tldrlegal.com/license/mit-license
    "Unicode-DFS-2016"                # https://spdx.org/licenses/Unicode-DFS-2016.html 
]

clarify = [
]
