[package]
name = "example-onnx-mobilenet-v2-batch"
version = "0.1.0"
authors = ["Mathieu Poumeyrol <kali@zoy.org>"]
license = "MIT/Apache-2.0"
edition = "2018"

[dependencies]
image = "*"
tract-onnx = { path = "../../onnx" }
