[package]
name = "tract"
version = "0.17.4-pre"
authors = [ "Romain Liautaud <romain.liautaud@snips.ai>", "Mathieu Poumeyrol <kali@zoy.org>"]
license = "MIT/Apache-2.0"
description = "Tiny, no-nonsense, self contained, TensorFlow and ONNX inference"
repository = "https://github.com/snipsco/tract"
keywords = [ "TensorFlow", "NeuralNetworks" ]
categories = [ "science" ]
autobenches = false
edition = "2018"
include = [ "Cargo.toml", "src/**/*.rs", "LICENSE*" ]

[badges]
maintenance = { status = "actively-developed" }

[dependencies]
ansi_term = "0.12.1"
atty = "0.2.14"
box_drawing = "0.1.2"
cast = "0.3"
clap = { version = "~3.1", features = [ "cargo" ] }
criterion = "0.3.5"
colorous = "1.0.5"
env_logger = "0.9.0"
flate2 = "1.0.20"
lazy_static = "1.4.0"
log = "0.4.14"
ndarray-npy = { version = "0.8.0", features = [ "compressed_npz" ] }
py_literal = "0.4.0"
rand = "0.8.4"
readings-probe = "0.1.3"
regex = "1.5.4"
reqwest = { version = "0.11.4", features = [ "blocking", "rustls" ], default-features = false }
rustls = "0.20.4"
scan_fmt = "0.2.6"
serde = "1.0.127"
serde_json = "1.0.66"
serde_derive = "1.0.127"
tract-core = { version = "0.17.4-pre", path = "../core" }
tract-hir = { version = "0.17.4-pre", path = "../hir" }
tract-nnef = { version = "0.17.4-pre", path = "../nnef" }
tract-pulse-opl = { optional = true, version = "0.17.4-pre", path = "../pulse-opl" }
tract-pulse = { optional = true, version = "0.17.4-pre", path = "../pulse" }
tract-kaldi = { optional = true, version = "0.17.4-pre", path = "../kaldi" }
tract-onnx = { optional = true, version = "0.17.4-pre", path = "../onnx" }
tract-tensorflow = { optional = true, version = "0.17.4-pre", path = "../tensorflow" }

[features]
default = ["kaldi", "onnx", "tf", "pulse", "pulse-opl"]
kaldi = [ "tract-kaldi" ]
onnx = [ "tract-onnx" ]
pulse-opl = [ "tract-pulse-opl" ]
pulse = [ "tract-pulse", "tract-pulse-opl" ]
tf = [ "tract-tensorflow" ]
conform = [ "tract-tensorflow/conform"  ]
