[package]
name = "causal_llm"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow.workspace = true
float-ord = "0.3.2"
tract-nnef.workspace = true
tract-gpu.workspace = true
tract-cuda.workspace = true
tract-transformers.workspace = true
axum = "0.8.4"
tokio = { version = "1.47.1", features = ["rt-multi-thread"] }
clap = { version = "4", features = ["derive"] }
axum-macros = "0.5.0"
reqwest.workspace = true
serde.workspace = true
serde_json.workspace = true
log.workspace = true
env_logger.workspace = true
ndarray-npy.workspace = true
tokio-scoped = "0.2.0"
rand.workspace = true
aws-sdk-bedrockruntime = "=1.95.0"
aws-config = "1.8.1"
aws-sdk-sso = "=1.74.0"
aws-sdk-ssooidc = "=1.75.0"
aws-sdk-sts = "=1.76.0"

[target.'cfg(any(target_os = "macos", target_os = "ios"))'.dependencies]
tract-metal.workspace = true

[target.'cfg(not(any(target_os = "macos", target_os = "ios")))'.dependencies]
tract-cuda.workspace = true

# tokenizer special handle for wasm
[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tokenizers.workspace = true

[target.'cfg(target_arch = "wasm32")'.dependencies]
tokenizers = { version = "0.21", default-features = false, features = [
  "unstable_wasm",
] }
