// vim: ft=arm

// no preservation either for v0-v7 and v16-v31

.text
.align 4
{% if os == "ios" %}
    .global _arm64simd_tanh_f32_4n
    _arm64simd_tanh_f32_4n:
{% else %}
    .cpu generic+fp+simd
    .global arm64simd_tanh_f32_4n
    arm64simd_tanh_f32_4n:
{% endif %}

    cmp         x1, #0
    beq         .return

    adr         x2, .coeffs_num
    ld1         { v0.4s, v1.4s, v2.4s, v3.4s }, [x2]
    dup         v5.4s, v0.s[0]              // v5 <- low, broadcasted
    dup         v6.4s, v0.s[1]              // v6 <- high, broadcasted

.loop:
    ld1         { v16.4s }, [x0]

    fmax        v16.4s, v16.4s, v5.4s
    fmin        v16.4s, v16.4s, v6.4s       // v16 <- x
    fmul        v20.4s, v16.4s, v16.4s      // v20 <- x2

    dup         v24.4s, v0.s[3]
    fmla        v24.4s, v20.4s, v0.s[2]
    dup         v28.4s, v1.s[0]
    fmla        v28.4s, v20.4s, v24.4s
    dup         v24.4s, v1.s[1]
    fmla        v24.4s, v20.4s, v28.4s
    dup         v28.4s, v1.s[2]
    fmla        v28.4s, v20.4s, v24.4s
    dup         v24.4s, v1.s[3]
    fmla        v24.4s, v20.4s, v28.4s
    dup         v28.4s, v2.s[0]
    fmla        v28.4s, v20.4s, v24.4s
    fmul        v16.4s, v16.4s, v28.4s      // v16 <- numerator

    dup         v24.4s, v2.s[2]
    fmla        v24.4s, v20.4s, v2.s[1]
    dup         v28.4s, v2.s[3]
    fmla        v28.4s, v20.4s, v24.4s
    dup         v24.4s, v3.s[0]
    fmla        v24.4s, v20.4s, v28.4s      // v24 <- denum

    fdiv        v16.4s, v16.4s, v24.4s

    st1         { v16.4s }, [x0], #16

    subs        x1, x1, #4
    bne         .loop

.return:
    ret

.coeffs_num:
    .float -9.0                     // low       v0
    .float 9.0                      // high      
    .float -2.76076847742355e-16    // alpha_13  
    .float 2.00018790482477e-13     // alpha_11  
    .float -8.60467152213735e-11    // alpha_9   v1
    .float 5.12229709037114e-08     // alpha_7   
    .float 1.48572235717979e-05     // alpha_5   
    .float 6.37261928875436e-04     // alpha_3   
    .float 4.89352455891786e-03     // alpha_1   v2
    .float 1.19825839466702e-06     // beta_6    
    .float 1.18534705686654e-04     // beta_4    
    .float 2.26843463243900e-03     // beta_2    
    .float 4.89352518554385e-03     // beta_0    v3
    .float 0                        // padding
    .float 0                        // padding
    .float 0                        // padding
