[package]
name = "tract-core"
version = "0.10.10"
license = "MIT/Apache-2.0"
authors = ["Mathieu Poumeyrol <kali@zoy.org>"]
description = "Tiny, no-nonsense, self contained, TensorFlow and ONNX inference"
repository = "https://github.com/snipsco/tract"
keywords = [ "TensorFlow", "NeuralNetworks" ]
categories = [ "science" ]
autobenches = false
edition = "2018"

[badges]
maintenance = { status = "actively-developed" }

[dependencies]
bit-set="0.5"
derive-new = "0.5"
downcast-rs = "1.0"
educe = "=0.4.11" # locked for rust 1.41.0
error-chain = "0.12"
half = "1.3"
itertools = "0.9"
log = "0.4"
maplit = "1.0"
ndarray = { version = "=0.13.0" }
num-integer = "0.1"
num-traits = "0.2"
dyn-clone = "1"
serde = { "version" = "1.0", optional = true }
serde_derive = { "version" = "1.0", optional = true }
smallvec = "1"
tract-linalg = "0.10.10"

[features]
default = [ ]
# serialize = ["serde", "serde_derive", "smallvec/serde", "half/serde" ]

[dev-dependencies]
criterion = "0.3"
proptest = "0.10"
env_logger = "0.7"

[[bench]]
name = "conv_direct_vs_im2col"
harness = false

[[bench]]
name = "im2col_inception"
harness = false
