[package]
name = "tract-core"
version = "0.17.4-pre"
license = "MIT/Apache-2.0"
authors = ["Mathieu Poumeyrol <kali@zoy.org>"]
description = "Tiny, no-nonsense, self contained, TensorFlow and ONNX inference"
repository = "https://github.com/snipsco/tract"
keywords = [ "TensorFlow", "NeuralNetworks" ]
categories = [ "science" ]
autobenches = false
edition = "2018"

[badges]
maintenance = { status = "actively-developed" }

[dependencies]
bit-set= "0.5.2"
derive-new = "0.5.9"
downcast-rs = "1.2.0"
educe = "0.4.18"
anyhow = "1.0.43"
lazy_static = "1.4.0"
log = "0.4.14"
maplit = "1.0.2"
ndarray = "0.15.3"
num-integer = "0.1.44"
num-traits = "0.2.14"
dyn-clone = "1.0.4"
smallvec = "1.6.1"
tract-data = { version = "0.17.4-pre", path = "../data" }
tract-linalg = { version = "0.17.4-pre", path = "../linalg" }

[features]
default = [ ]
paranoid_assertions = []

[dev-dependencies]
criterion = "0.3.5"
env_logger = "0.9.0"
lazy_static = "1.4.0"
proptest = "1.0.0"
approx = "0.5"

[[bench]]
name = "conv_direct_vs_im2col"
harness = false

[[bench]]
name = "wavenet"
harness = false

[[bench]]
name = "im2col_inception"
harness = false
