[package]
name = "infra"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow.workspace = true
downcast-rs.workspace = true
dyn-clone.workspace = true
env_logger.workspace = true
itertools.workspace = true
lazy_static.workspace = true
tract-core.workspace = true

[target.'cfg(not(target_family = "wasm"))'.dependencies]
proptest.workspace = true

[target.'cfg(target_family = "wasm")'.dependencies]
# Wasm doesn't support the `fork` feature of proptest.
proptest = { version = "1.0.0", default-features = false, features = ["std", "bit-set"] }
