[package]
name = "tract-tensorflow"
version = "0.1.0"
authors = ["Mathieu Poumeyrol <kali@zoy.org>"]

[dependencies]
derive-new = "0.5"
error-chain =  { version = "0.12", default-features=false }
log = "0.4"
ndarray = { version = "0.12" }
num = "0.2"
protobuf = "2.0"
tract-core = { path="../core" }

[dev-dependencies]
criterion = "0.2"

[[bench]]
name = "conv"
harness = false
