[build-system]
requires = [
    "setuptools>=62.1<63",
    "setuptools_rust>=1.3<1.4",
    "wheel>=0.34<0.35",
]

[tool.cibuildwheel]
environment = "PATH=$PATH:$HOME/.cargo/bin"
test-command = 'python -c "import tract"'

[tool.cibuildwheel.linux]
skip = "*-musllinux_i686"
before-build = """
cargo --version || (curl https://sh.rustup.rs -sSf | sh -s -- -y --profile minimal
. $HOME/.cargo/env
rustup toolchain add stable
rustup default stable)
"""
