[package]
name = "tract-libcli"
version = "0.19.0-alpha.8"
license = "MIT/Apache-2.0"
authors = ["Mathieu Poumeyrol <kali@zoy.org>"]
description = "Tiny, no-nonsense, self contained, TensorFlow and ONNX inference"
repository = "https://github.com/snipsco/tract"
keywords = [ "TensorFlow", "NeuralNetworks" ]
categories = [ "science" ]
edition = "2021"

[badges]
maintenance = { status = "actively-developed" }

[dependencies]
ansi_term.workspace = true
box_drawing.workspace = true
colorous.workspace = true
lazy_static.workspace = true
log.workspace = true
ndarray-npy.workspace = true
py_literal.workspace = true
rand.workspace = true
# tract-hir = { version = "0.18.4-pre", path = "../hir", optional = true }
tract-hir = { version = "0.19.0-alpha.8", path = "../hir" }
tract-onnx = { version = "0.19.0-alpha.8", path = "../onnx", optional = true }

[dependencies.tract-core ]
version = "0.19.0-alpha.8"

[features]
# hir = ["tract-hir"]
hir = []
onnx = [ "tract-onnx" ]
