[package]
name = "tract-onnx"
version = "0.1.0"
authors = ["Mathieu Poumeyrol <kali@zoy.org>"]
license = "MIT/Apache-2.0"
description = "Tiny, no-nonsense, self contained, TensorFlow and ONNX inference"
repository = "https://github.com/kali/tract"
keywords = [ "TensorFlow", "NeuralNetworks", "ONNX" ]
categories = [ "science" ]
autobenches = false

[badges]
travis-ci = { repository = "kali/tensorflow-deploy-rust" }

[dependencies]
derive-new = "0.5"
error-chain =  { version = "0.12", default-features=false }
log = "0.4"
ndarray = { version = "0.12" }
num = "0.2"
protobuf = "2.0"
tract-core = "0.1.0"

[build-dependencies]
git2 = "0.7"
tempdir = "0.3"

[dev-dependencies]
flate2 = "1"
fs2 = "0.4"
mio_httpc = { version = "0.6", features = ["rtls"] }
serde = "1"
serde_json = "1"
serde_derive = "1"
simplelog = "0.5"
tar = "0.4"
