[package]
name = "tract-nnef-resources"
version = "0.21.13"
authors = [
	"Mathieu Poumeyrol <kali@zoy.org>",
	"Hubert de La JonquieÌ€re <hubert.delajonquiere@sonos.com>"
]
license = "MIT OR Apache-2.0"
description = "Tiny, no-nonsense, self contained, TensorFlow and ONNX inference"
repository = "https://github.com/snipsco/tract"
keywords = [ "NeuralNetworks", "NNEF" ]
categories = [ "science" ]
autobenches = false
edition = "2021"
rust-version = "1.75"

[badges]
maintenance = { status = "actively-developed" }

[dependencies]
serde_json.workspace = true
serde.workspace = true
anyhow.workspace = true
nom.workspace = true
tract-nnef.workspace = true


