name: Sanitized build tests

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 5 * * *'

env:
  CARGO_INCREMENTAL: false

jobs:
  sanitizer-address:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macOS-latest ]

    runs-on: ${{matrix.os}}

    steps:
    - uses: actions/checkout@v3
    - name: Rustup update
      run: rustup update
    - name: Run sanitized tests
      run: .travis/asan.sh
      env:
        CARGO_NET_GIT_FETCH_WITH_CLI: true
