name: Sanitized build tests

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 5 * * *'

jobs:
  sanitizer-address:
    strategy:
      fail-fast: false

    runs-on: [ ubuntu-latest, macOS-latest ]

    steps:
    - uses: actions/checkout@v3
    - name: Rustup update
      run: rustup update
    - name: Run sanitized tests
      run: .travis/asan.sh
