name: Beta and nightly Rust

on:
  push:
  schedule:
    - cron:  '0 5 * * *'

jobs:
  linux:
    strategy:
      matrix:
        rust: [ beta, nightly ]
      fail-fast: false

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Native script
      env:
        RUST_VERSION: ${{matrix.rust}}
      run: .travis/regular-tests.sh

  warnings:
    strategy:
      matrix:
        rust: [ stable, beta ]
      fail-fast: false

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: cargo check, -D warnings
      env:
        RUSTFLAGS: "-D warnings"
        RUST_VERSION: ${{matrix.rust}}
      run: |
          rustc --version
          cargo check

  cargo-deny:
    strategy:
      fail-fast: false

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Install cargo-deny
      run: |
        curl -L https://github.com/EmbarkStudios/cargo-deny/releases/download/0.11.0/cargo-deny-0.11.0-x86_64-unknown-linux-musl.tar.gz \
            | tar -zx --strip-components=1 "cargo-deny-0.11.0-x86_64-unknown-linux-musl/cargo-deny"
    - name: Run cargo-deny
      run:  |
        for crate in onnx pulse kaldi tensorflow
        do
            echo $crate:
            (cd $crate ; ../cargo-deny check)
        done
