
on:
  workflow_dispatch:
    inputs:
      dataset_id:
        description: 'dataset identifier'
        required: true

name: Generate cost model analysis dataset

env:
  CARGO_INCREMENTAL: false
  FORCE_JAVASCRIPT_ACTIONS_TO_NODE20: true

jobs:
  build:
    name: Upload cost model tasks
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        target: [ "aarch64", "armv7" ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build and upload
        run: ./.travis/cost_model_task_build.sh ${{matrix.target}} ${{github.event.inputs.dataset_id}}
        env:
          AWS_ACCESS_KEY_ID: ${{secrets.TRACT_CI_AWS_ACCESS_KEY_ID}}
          AWS_SECRET_ACCESS_KEY: ${{secrets.TRACT_CI_AWS_SECRET_ACCESS_KEY}}
          AWS_EC2_METADATA_DISABLED: true
