name: Embedded targets

on:
  push:
  schedule:
    - cron:  '0 5 * * *'

jobs:
  linux:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - raspbian
            # these three arch are called gnu, but they are actually musl
          - aarch64-unknown-linux-gnu
          - armv6vfp-unknown-linux-gnueabihf
          - armv7-unknown-linux-gnueabihf
          - aarch64-linux-android
          - armv7-linux-androideabi
          - i686-linux-android
          - x86_64-linux-android
          - wasm32-unknown-unknown

    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v1
    - name: Cross script
      env:
        PLATFORM: ${{matrix.platform}}
        AWS_ACCESS_KEY_ID: ${{secrets.TRACT_CI_AWS_ACCESS_KEY_ID}}
        AWS_SECRET_ACCESS_KEY: ${{secrets.TRACT_CI_AWS_SECRET_ACCESS_KEY}}
        AWS_EC2_METADATA_DISABLED: true
      run: .travis/cross.sh

  ios:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - aarch64-apple-ios

    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v1
    - name: Cross script
      env:
        PLATFORM: ${{matrix.platform}}
      run: .travis/cross.sh
