name: Full test harness

on:
  schedule:
    - cron:  '0 3 * * *'
  workflow_dispatch:

jobs:
  regular-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Full test
      run: .travis/regular-tests.sh

  cli-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Full test 
      run: .travis/cli-tests.sh

  onnx-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        opset: [1_4_1, 1_5_0, 1_6_0, 1_7_0, 1_8_1, 1_9_0, 1_10_1]

    steps:
    - uses: actions/checkout@v1
    - name: Full test
      run: .travis/onnx-tests.sh ${{ matrix.opset }}

  onnx-with-asserts:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: With assertions
      run: cargo -q test -q -p onnx-test-suite -- --skip real_

  core-paranoid:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Core test with paraoid assertions
      run: cargo test -p tract-core --features paranoid_assertions
