name: Full test harness

on:
  pull_request:
  schedule:
    - cron:  '0 3 * * *'
  workflow_dispatch:

jobs:
  regular-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
    - uses: actions/cache@v2
      with:
        path: |
          ~/.rustup
          ~/.cargo/registry
          ~/.cargo/git
          ~/.cache/sccache
          target
          .cached
        key: ${{ runner.os }}-full-regular-${{steps.date.outputs.date}}-e

    - name: "Setup sccache"
      run: .travis/setup-sccache.sh

    - name: Full test
      run: .travis/regular-tests.sh

    - name: Stop sccache server
      run: sccache --stop-server || true

  cli-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
    - uses: actions/cache@v2
      with:
        path: |
          ~/.rustup
          ~/.cargo/registry
          ~/.cargo/git
          ~/.cache/sccache
          target
          .cached
        key: ${{ runner.os }}-full-regular-${{steps.date.outputs.date}}-e

    - name: "Setup sccache"
      run: .travis/setup-sccache.sh
    - name: Full test 
      env:
        AWS_ACCESS_KEY_ID: ${{secrets.TRACT_CI_AWS_ACCESS_KEY_ID}}
        AWS_SECRET_ACCESS_KEY: ${{secrets.TRACT_CI_AWS_SECRET_ACCESS_KEY}}
        AWS_EC2_METADATA_DISABLED: true
      run: .travis/cli-tests.sh

    - name: Stop sccache server
      run: sccache --stop-server || true

  onnx-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        opset: [1_4_1, 1_5_0, 1_6_0, 1_7_0, 1_8_1, 1_9_0, 1_10_1]

    steps:
    - uses: actions/checkout@v1
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
    - uses: actions/cache@v2
      with:
        path: |
          ~/.rustup
          ~/.cargo/registry
          ~/.cargo/git
          ~/.cache/sccache
          target
          .cached
        key: ${{ runner.os }}-full-onnx-${{matrix.opset}}-${{steps.date.outputs.date}}-e
    - name: "Setup sccache"
      run: .travis/setup-sccache.sh
    - name: Full test
      run: .travis/onnx-tests.sh ${{ matrix.opset }}

    - name: Stop sccache server
      run: sccache --stop-server || true
  onnx-with-asserts:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
    - uses: actions/cache@v2
      with:
        path: |
          ~/.rustup
          ~/.cargo/registry
          ~/.cargo/git
          ~/.cache/sccache
          target
          .cached
        key: ${{ runner.os }}-full-onnx-with-asserts-${{steps.date.outputs.date}}-e
    - name: "Setup sccache"
      run: .travis/setup-sccache.sh
    - name: With assertions
      run: cargo -q test -q -p onnx-test-suite -- --skip real_

    - name: Stop sccache server
      run: sccache --stop-server || true
  core-paranoid:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
    - uses: actions/cache@v2
      with:
        path: |
          ~/.rustup
          ~/.cargo/registry
          ~/.cargo/git
          ~/.cache/sccache
          target
          .cached
        key: ${{ runner.os }}-full-core-paranoid-${{steps.date.outputs.date}}-e
    - name: "Setup sccache"
      run: .travis/setup-sccache.sh
    - name: Core test with paraoid assertions
      run: cargo test -p tract-core --features paranoid_assertions
    - name: Stop sccache server
      run: sccache --stop-server || true
