name: Native Linux

on:
  pull_request:
  schedule:
    - cron:  '0 3 * * *'

jobs:
  linux:
    strategy:
      matrix:
        rust: [ 1.59.0 ]

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: actions/cache@v2
      with:
        path: |
          ~/.rustup
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{matrix.rust}}-1
    - name: Native script
      run: .travis/regular-tests.sh
      env:
        SHORT: yes
        RUST_VERSION: ${{matrix.rust}}
