name: Python gh-pages doc

on:
  pull_request:
  release:
  workflow_dispatch:

jobs:
  build_doc:
    name: Build doc
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Extract version tag
        id: version
        if: github.event_name == 'release' && github.event.action == 'released'
        run: echo value=$(echo ${{ github.ref }} | cut -f 3 -d / | tr -d 'v' ) >> $GITHUB_OUTPUT

      - name: Build and publish doc
        run: |
          git config user.name "CI bot"
          git config user.email ci-bot@tract.rs
          git fetch origin gh-pages --depth=1
          cd ffi/py
          pip install -r requirements-docs.txt
          version=${{steps.version.outputs.value}}
          if [ -n "$version" ]
          then
            mike deploy $version 0.19
            git push origin gh-pages:gh-pages
          else
            mike deploy dev
            git push origin gh-pages:gh-pages
          fi
