name: Unix build and tests

on:
  pull_request:
  schedule:
    - cron:  '0 3 * * *'

env:
  CARGO_INCREMENTAL: false
  FORCE_JAVASCRIPT_ACTIONS_TO_NODE20: true

jobs:
  unix:
    strategy:
      matrix:
        os: [ ubuntu-latest, macOS-latest ]
        rust: [ 1.77.0 ]
      fail-fast: false

    runs-on: ${{matrix.os}}
    permissions:
      id-token: write
      contents: read
    env:
      RUST_VERSION: ${{matrix.rust}}
      RUST_BACKTRACE: full

    steps:
    - uses: actions/checkout@v4

    - name: Configure AWS Credentials
      continue-on-error: true
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::567805100031:role/github-runner-tract-ci
        aws-region: us-east-2

    - name: Get current date
      id: date
      run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

    - uses: actions/cache@v4
      with:
        path: |
          ~/.rustup
          ~/.cargo/registry
          ~/.cargo/git
          target
          .cached
        key: ${{ runner.os }}-main-${{matrix.rust}}-${{steps.date.outputs.date}}-d

    - name: Native script
      run: .travis/regular-tests.sh
      env:
        SHORT: yes
