name: Unix build and tests

on:
  pull_request:
  schedule:
    - cron:  '0 3 * * *'

env:
  CARGO_INCREMENTAL: false

jobs:
  unix:
    strategy:
      matrix:
        os: [ ubuntu-latest, macOS-latest ]
        rust: [ 1.65.0 ]

    runs-on: ${{matrix.os}}
    env:
      RUST_VERSION: ${{matrix.rust}}
      RUST_BACKTRACE: full

    steps:
    - uses: actions/checkout@v3

    - name: Get current date
      id: date
      run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

    - uses: actions/cache@v3
      with:
        path: |
          ~/.rustup
          ~/.cargo/registry
          ~/.cargo/git
          #~/.cache/sccache
          target
          .cached
        key: ${{ runner.os }}-main-${{matrix.rust}}-${{steps.date.outputs.date}}-d

          #    - name: "Setup sccache"
          #      run: .travis/setup-sccache.sh

    - name: Native script
      run: .travis/regular-tests.sh
      env:
        SHORT: yes

          #    - name: Stop sccache server
          #      run: sccache --stop-server || true
