name: Windows unit tests

on:
  pull_request:
  schedule:
    - cron:  '0 3 * * *'


jobs:
  windows:
    strategy:
      matrix:
        os: [ windows-2019 ]
        toolchain: [ gnu, msvc ]
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v1
    - uses: nick-invision/retry@v2
      name: Install Rustup using win.rustup.rs
      with:
        timeout_minutes: 10
        max_attempts: 8
        shell: pwsh
        command: |
            # Disable the download progress bar which can cause perf issues
            $ProgressPreference = "SilentlyContinue"
            Invoke-WebRequest https://win.rustup.rs/ -OutFile rustup-init.exe
            .\rustup-init.exe -y --default-host=x86_64-pc-windows-msvc --profile=minimal
    - uses: nick-invision/retry@v2
      name: Install the target
      with:
        timeout_minutes: 10
        max_attempts: 8
        shell: pwsh
        command: |
            rustup toolchain add stable-x86_64-pc-windows-${{matrix.toolchain}}
            rustup default stable-x86_64-pc-windows-${{matrix.toolchain}}
    - name: top level cargo check
      run: cargo check
    - name: linalg and core tests
      run: cargo test -p tract-linalg -p tract-core
    - name: Onnx test suite
      run: |
          choco install --no-progress wget
          cargo test --release -p onnx-test-suite node_1_7_0::
      env:
        TRACT_LOG: info
